<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.meeteat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CookFragment" />
        <activity android:name=".JoinFragment" />
        <activity android:name=".ResultFragment" />
        <activity android:name=".SignUpFragment" />
        <activity android:name=".MainFragment" />
        <activity android:name=".RecipeResultFragment" />
        <activity android:name=".HostListFragment" />
        <activity android:name=".JoinListFragment" />
        <activity android:name=".EditDinnerFragment" />
        <activity android:name=".SignInFragment"></activity>
    </application>

</manifest>